/* This makes sure the results are hidden */
#python {
  display: none;
}
#go {
  display: none;
}
#javascript {
  display: none;
}
#cobol {
  display: none;
}

/* Styling for results */
#python::before{
  content: "\a";
  white-space: pre;
}
#go::before{
  content: "\a";
  white-space: pre;
}
#javascript::before{
  content: "\a";
  white-space: pre;
}
#cobol::before{
  content: "\a";
  white-space: pre;
}

/* Additional Page Styling*/
.box {
  height: 300px;
  border: 5px;
  box-sizing: border-box;
}

h3::before{
  content: "\a";
  white-space: pre;
}

