/* This makes sure the results are hidden */
#python {
  display: none;
}
#go {
  display: none;
}
#javascript {
  display: none;
}
#cobol {
  display: none;
}

/* Additional Page Styling*/
body {
  background-color: #2B2D42;
  color: #EDF2F4;
}

body h3 {
  color: #8D99AE;
}

/* Styling for the questions section */
#questions {
  background-color: #8D99AE;
}

#questions h3 {
  color: #2B2D42;
}

h3::before {
  content: "\a";
  white-space: pre;
}

/* Styling for results */

#results {
  background-color: #8D99AE;
}

#results h3 {
  color: #EF233C;
}

#results img {
  width: 300px;
  height: auto;
}
